@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";

.upload {
  padding: 1rem;
  border-top: 0.09rem solid $mercury;
  @include tablet {
    padding: 1.5rem 2rem 1rem 2rem;
  }
  @include desktop {
    padding: 2rem 9rem 11rem 8rem;
  }
  &__heading {
    margin: 0.5rem 0 0.5rem 0;
    color: $black;
    font-weight: bold;
    @include tablet {
      font-size: 2rem;
      border-bottom: 0.09rem solid $mercury;
      padding-bottom: 2rem;
    }
  }
  &__form {
    margin: 0;
  }

  &__sub-heading {
    margin-bottom: 0.5rem;
    color: $silver;
    font-size: 0.77rem;
    text-transform: uppercase;
  }
  &__thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    @include desktop {
      height: 11rem;
    }
  }
  &__main-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      border-bottom: 0.09rem solid $mercury;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      flex-direction: row;
      gap: 1.5rem;
    }
    &--left {
      @include tablet {
        width: 50%;
      }
      @include desktop {
        width: 33%;
      }
    }
    &--right {
      flex-grow: 1;
    }
  }

  &__input {
    font-family: "AvenirNext LT Pro";
    border-color: $silver;
    background-color: $alabaster;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    resize: none;
    padding: 0.5rem;
    outline-color: $blue;
    width: 100%;
    // this removes the extension of the input boxes. fixes it.
    // https://stackoverflow.com/questions/16907518/css-input-with-width-100-goes-outside-parents-bound
    box-sizing: border-box;
    &::placeholder {
      color: $dark-black;
    }
  }
  &__button-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      border-top: 0.09rem solid $mercury;
      flex-direction: row;
      justify-content: end;
    }
  }

  &__button-sub-container {
  }
  &__bottom-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      // This reverses the order
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }
  &__button-icon {
    background-image: url(../../assets/Icons/publish.svg);
    width: 2rem;
    height: 2rem;
    margin-top: 1.6rem;
    margin-left: 0.5rem;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    position: absolute;
  }

  &__publish {
    font-family: "AvenirNext LT Pro";
    font-size: $font-size-body;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
    width: 100%;
    padding: 0.75rem;
    @include tablet {
      width: 10rem;
    }
  }
  &__cancel {
    margin: 2rem 0 1.5rem 0;
    border: none;
    background-color: $white;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    @include tablet {
      width: 10rem;
    }
  }
}
